In [1]:
import pandas as pd

In [4]:
DATA = './data/nyc-taxi/'

In [5]:
%%time

df = pd.read_parquet(DATA)

CPU times: user 12.6 s, sys: 9.06 s, total: 21.6 s
Wall time: 16.6 s

In [6]:
df.shape

(67160857, 19)

In [7]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [14]:
%%time

df['is_congested'] = df.congestion_surcharge.fillna(0) > 0

df.groupby('DOLocationID').agg(
    mean_fare=('fare_amount', 'mean'),
    count=('fare_amount', 'count'),
    congestion=('is_congested', 'mean')
).sort_values('count', ascending=False)

CPU times: user 913 ms, sys: 1.57 s, total: 2.48 s
Wall time: 7.34 s

              mean_fare    count  congestion
DOLocationID
236            9.832427  2982823    0.962186
237            9.302696  2830014    0.971781
161           10.925757  2321912    0.965709
170           10.941102  1992061    0.962805
239           10.950570  1886866    0.964539
...                 ...      ...         ...
204           81.728667      315    0.288889
2             41.031084       83    0.072289
99            59.691154       78    0.141026
105           20.501515       33    0.757576
110           80.333333        3    0.000000

[262 rows x 3 columns]