In [1]:
import vaex as vx

In [2]:
URI = 's3://vaex/taxi/yellow_taxi_2015_f32s.hdf5?anon=true'

In [3]:
%%time

df = vx.open(URI)

CPU times: user 705 ms, sys: 464 ms, total: 1.17 s
Wall time: 19.6 s

In [4]:
df.shape

(146112991, 18)

In [6]:
df.byte_size() / 1e9  # size GB

12.857943217

In [9]:
df.head()

  #  vendor_id    pickup_datetime                dropoff_datetime                 passenger_count  payment_type      trip_distance    pickup_longitude    pickup_latitude    rate_code    store_and_fwd_flag    dropoff_longitude    dropoff_latitude    fare_amount    surcharge    mta_tax    tip_amount    tolls_amount    total_amount
  0  VTS          2014-12-16 02:26:00.000000000  2014-12-16 02:28:00.000000000                  1  CSH                        1.09            -73.9867            40.7564            1                   nan             -73.9965             40.7429            5            0.5        0.5          0               0               6
  1  VTS          2014-12-15 18:23:00.000000000  2014-12-15 18:58:00.000000000                  2                             6.28            -74.0042            40.7212            1                   nan             -73.97              nan               nan          nan        nan          nan             nan             nan
  2  VTS          2015-01-15 19:05:39.000000000  2015-01-15 19:23:42.000000000                  1  1                          1.59            -73.9939            40.7501            1                     0             -73.9748             40.7506           12            1          0.5          3.25            0              17.05
  3  CMT          2015-01-10 20:33:38.000000000  2015-01-10 20:53:28.000000000                  1  1                          3.3             -74.0016            40.7242            1                     0             -73.9944             40.7591           14.5          0.5        0.5          2               0              17.8
  4  CMT          2015-01-10 20:33:38.000000000  2015-01-10 20:43:41.000000000                  1  2                          1.8             -73.9633            40.8028            1                     0             -73.9518             40.8244            9.5          0.5        0.5          0               0              10.8
  5  CMT          2015-01-10 20:33:39.000000000  2015-01-10 20:35:31.000000000                  1  2                          0.5             -74.0091            40.7138            1                     0             -74.0043             40.72              3.5          0.5        0.5          0               0               4.8
  6  CMT          2015-01-10 20:33:39.000000000  2015-01-10 20:52:58.000000000                  1  2                          3               -73.9712            40.7624            1                     0             -74.0042             40.7427           15            0.5        0.5          0               0              16.3
  7  CMT          2015-01-10 20:33:39.000000000  2015-01-10 20:53:52.000000000                  1  1                          9               -73.8744            40.774             1                     0             -73.987              40.7582           27            0.5        0.5          6.7             5.33           40.33
  8  CMT          2015-01-10 20:33:39.000000000  2015-01-10 20:58:31.000000000                  1  2                          2.2             -73.9833            40.726             1                     0             -73.9925             40.7496           14            0.5        0.5          0               0              15.3
  9  CMT          2015-01-10 20:33:39.000000000  2015-01-10 20:42:20.000000000                  3  1                          0.8             -74.0027            40.7341            1                     0             -73.995              40.7263            7            0.5        0.5          1.66            0               9.96

In [15]:
%%time

df['is_congested'] = df.surcharge.fillna(0) > 0
df['dropoff_loc'] = df.dropoff_longitude.astype(str).str.cat(df.dropoff_longitude.astype(str))

df.groupby(
    'dropoff_loc',
    agg={
        'fare_amount': 'mean',
        'fare_amount': 'count',
        'is_congested': 'mean'
    },
    progress=True
)

groupby [########################################] 100.00% elapsed time  :   177.76s =  3.0m =  0.0hh
 CPU times: user 4min 44s, sys: 3min 18s, total: 8min 2s
Wall time: 2min 57s

#        dropoff_loc           fare_amount    is_congested
0        -73.957085-73.957085  9292           0.524429616874731
1        -73.965775-73.965775  9856           0.47635957792207795
2        -73.969498-73.969498  14863          0.3881450581982103
3        -73.966232-73.966232  12350          0.4631578947368421
4        -73.976311-73.976311  23395          0.4298781790980979
...      ...                   ...            ...
106,594  -73.407761-73.407761  1              1.0
106,595  -73.538094-73.538094  1              0.0
106,596  -73.137726-73.137726  1              1.0
106,597  -74.216072-74.216072  2              0.0
106,598  -74.122284-74.122284  1              0.0